.page {
  max-width: var(--content-width);
  background-color: var(--color-page-background);
  border: var(--color-card-border);
  box-shadow: var(--shadow-page);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (max-width: 1200px) {
    width: 50rem;
  }

  @media (max-width: 900px) {
    width: 36rem;
    .sociallayout {
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  @media (max-width: 700px) {
    width: 30rem;
  }
  @media (max-width: 550px) {
    width: 21rem;
  }
}

.page h2 {
  font-size: 2rem;
  font-weight: 700;
}

.page .sociallayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
