.page {
  max-width: var(--content-width);
  background-color: var(--color-page-background);
  border: var(--color-card-border);
  box-shadow: var(--shadow-page);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .social-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 1200px) {
    width: 50rem;
  }

  @media (max-width: 900px) {
    width: 36rem;
    .social-layout {
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  @media (max-width: 700px) {
    width: 30rem;
  }
  @media (max-width: 550px) {
    width: 21rem;
  }
}
